<div class="contact-menu">
    <ul class="contact-menu-list">
        <li *ngFor="let path of socialImagePaths">
            <img [src]="path">
        </li>
    </ul>
    <div class="yellow-line">
    </div>
    <div class="contact-menu-tel">
        <img src="../../assets/icons/tel.svg">
        <a href="tel:028811888">02-881-1888</a>
    </div>
</div>

<div class="product-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="product-menu-logo">
                    <img src="../../assets/pictures/logo.png">
                </div>
            </div>
            <div class="d-flex col-7">
                <ul class="d-flex align-items-center product-menu-list">
                    <li *ngFor="let menu of mainMenuList">
                        <span>{{ menu.label }}</span>
                        <img *ngIf="!!menu.subMenu.length" src="../../assets/icons/next.svg">
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="right-menu">
                    <li class="icon-menu">
                        <img src="../../assets/icons/nav-search.svg">
                    </li>
                    <li class="icon-menu">
                        <img src="../../assets/icons/nav-account.png">
                        <span class="account-menu">คุณประกัน</span>
                        <img src="../../assets/icons/next.svg">
                    </li>
                    <li class="icon-menu">
                        <img src="../../assets/icons/nav-noti.png">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>