<div class="contact-menu">
    <ul class="contact-menu-list">
        <li *ngFor="let path of socialImagePaths">
            <img [src]="path">
        </li>
    </ul>
    <div class="yellow-line">
        
    </div>
    <div class="contact-menu-tel">
        <img src="../../assets/icons/tel.svg">
        <a href="tel:028811888">02-881-1888</a>
    </div>
</div>

<div class="product-menu">
    <ul class="product-menu-list">
        <li>
            <img class="logo" src="../../assets/pictures/logo.png">
        </li>
        <li class="main-menu">
            <span class="text-menu">ซื้อประกัน</span>
            <img src="../../assets/icons/next.svg">
        </li>
        <li class="main-menu">
            <span class="text-menu">โปรโมชั่น</span>
        </li>
        <li class="main-menu">
            <span class="text-menu">เคลมประกัน</span>
            <img src="../../assets/icons/next.svg">
        </li>
        <li class="main-menu">
            <span class="text-menu">ช่วยเหลือ</span>
            <img src="../../assets/icons/next.svg">
        </li>
        <li class="main-menu">
            <span class="text-menu">รู้จักประกัน.com</span>
            <img src="../../assets/icons/next.svg">
        </li>
        <li class="main-menu">
            <span class="text-menu">บทความ</span>
        </li>
    </ul>
    <ul class="right-menu">
        <li class="icon-menu">
            <img src="../../assets/icons/nav-search.svg">
        </li>
        <li class="icon-menu">
            <img src="../../assets/icons/nav-account.png">
            <span class="account-menu">คุณประกัน</span>
            <img src="../../assets/icons/next.svg">
        </li>
        <li class="icon-menu">
            <img src="../../assets/icons/nav-noti.png">
        </li>
    </ul>
</div>
